.login_button {
    
    cursor: pointer;
    width: 383px;
    height: 72px;
    left: 131px;
    top: 307px;
    
    background: #917FB3;

    font-family: 'Coiny';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    text-align: center;

    color: #FFFFFF;

}


.button {





}

.menu_button {

    width: 243px;
    height: 222px;
    left: 407px;
    top: 274px;
    
    background: #E5BEEC;
    border-radius: 60px;



}

.link_button {





}


.enquires_button {




}