.login_button {
    
    cursor: pointer;
    width: 383px;
    height: 72px;
    left: 131px;
    top: 307px;
    
    background: #917FB3;


}


.button {





}

.menu_button {





}

.link_button {





}


.enquires_button {




}