.login_container {

  display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15%;
    width: 418px;
    height: 505px;
    left: 50px;
    top: 224px;
    
    background: #E5BEEC;
    border-radius: 60px;  


}

.chat_box {

margin-bottom: 5%;
width: 80%;
height: 80%;
background-color: #E5BEEC;
border: no;
}


.resources_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #E5BEEC;
    border-radius: 60px;
    width: 436px;
    height: 500px;
    left: 80%;
    top: 252px;
    
    background: #E5BEEC;
    border-radius: 60px;


}

.message_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
    height: 440px;
    left: 80%;
    top: 252px;
    
    background: #E5BEEC;
    border-radius: 60px;


}

.loginlogo_container {

    display: flex;
    align-items: center;
    width: 546px;
    height: 461px;
    left: 768px;
    top: 274px;
    
    background: #E5BEEC;
    border-radius: 60px;

}

.avatarcontainer {




}

.booking_container {




}


.studentprogress_container {



}

.assesment_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 15%;
    width: 418px;
    height: 505px;
    left: 50px;
    top: 224px;

}

.assesment_question {
    
    width: 700px;
    height: 60px;
    left: 54px;
    top: 252px;

    background: #E5BEEC;
    border-radius: 60px;

    font-family: 'Coiny';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;


    color: #000000;
}

.checkbox-container{

display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;

}

.checkbox{

margin: 15%;


}

.button-container {
    display: flex;
column-gap: 20%;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}

.button-containerm {
    margin-top: 90%;
    display: flex;
column-gap: 20%;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
}